body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

img {
    width: 100px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px
}

.links {
    font-size: 18px;
    color: #E5E7EB
}

.first {
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
    background-color: #1F2937;
}

.first-content {
    padding: 50px;
}

.top-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FaF8
}

.top-text {
    font-size: 18px;
    color: #E5E7EB;
}

.first-button {

}

.header-image {
    display: flex;
    align-items: center;
}

.second-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 25px;
}

.second, .images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 150px;
    text-align: center;
}

.first-image, .second-image, .third-image, .fourth-image {
    justify-content: center;
    width: 100px;
    padding-bottom: 50px;
}


.third {
    background-color: #E5E7EB;
    font-size: 36px;
    font: light;
    padding: 100px 150px;
    align-items: center;
}

.quoter {
    display: flex;
    justify-content: flex-end;
}

.fourth {
    margin: 0 100px;
}

.blue {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 25px 0px;
    margin: 50px;
    border-radius: 10px;
}

.fourth-title {
    font-size: 24px;
    color: #F9FAF8
}

.fourth-text {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    display:flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    padding: 25px;
}

button {
    background-color:#3882F6;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
}

.border-button {
    background-color:#3882F6;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    justify-content: center;
    align-self: center ;
}

.second img {
    border-radius: 10%;
}